* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: #212529;
    text-align: left;
}

div.nav-container {
    display: flex;
    align-items: center;
    
}


.nav-container h5 {
    font-size: 20px;
    font-weight: 400;
    margin-inline-end: 161.312px;
}

.top-nav {
    margin-right: 16px;
}

.top-nav a {
    display: inline;
    text-decoration: none;
    padding: 8px 8px;
    color: black;
}

.top-nav a:hover {
    text-decoration: underline;
}