* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: #212529;
    text-align: left;
    line-height: 1.5;
}

div.nav-container {
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(222, 226, 230);
    box-shadow: 0 .125rem .25rem rgb(0,0,0,.075);
    padding: 16px 24px;
    flex-direction: row!important;
    height: 71px;
}


.nav-container h5 {
    font-size: 20px;
    font-weight: 400;
    margin-inline-end: 161.312px;
}

.top-nav {
    display: block;
    margin-right: 16px;
}

.top-nav a {
    display: inline;
    text-decoration: none;
    padding: 8px 8px;
    color: black;
}

.top-nav a:hover {
    text-decoration: underline;
}

.nav-container .nav-btn {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.nav-container .nav-btn:hover {
    background-color: #007bff;
    color: white;
}


.pricing-container {
    max-width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}

.pricing-container h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 67.2px;
    margin-bottom: 8px;
}

.pricing-container p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 16px;
}


.card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 24px;
    width: 290px;
    text-align: center;
}


.card-head{
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    height: 53px;
    background-color: rgba(0,0,0,.03);
    margin-bottom: 0;
    padding: 12px 20px;
}

.card-head h4 {
    display: inline;
    font-size: 24px;
    font-weight: 400; 
}

.card-body{
    padding: 20px 20px;
}

.card-body h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 12px;
}

.card-body h1 small {
    color: rgb(108, 117, 125);
    font-weight: 400;
    font-size: 32px;
}

.body-lists {
    list-style-type: none;
    margin-bottom: 24px;
    margin-top: 16px;
    padding-left: 0px;
}

.card-btn {
    border: 1px solid rgb(0, 123, 255);
    border-radius: 4.8px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: white;
    color:rgb(0, 123, 255);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.card-btn:hover {
    background-color:  rgb(0, 123, 255);
    color: white;
}

.btn {
    border: 1px solid rgb(0, 123, 255);
    background-color:  rgb(0, 123, 255);
    color: white;
}

.btn:hover {
   background-color:rgb(36, 103, 175);
}

.third-container {
    margin-right: 175.500px;
    margin-left: 175.500px ;
    padding-right: 15px;
     padding-left: 15px;
}


.card-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.big-ftr{
    border-top: 1px solid rgb(222, 226, 230);
    margin-top: 48px;
    margin-bottom: 48px;
    width: 930px;
    padding-top: 48px;
}

.first-column {
    padding-left: 15px;
    padding-right: 15px;
    width: 240px;
    height: 192px;
}

.first-column img {
    margin-bottom: 8px;
    display: inline;
}

.first-column small {
    margin-bottom: 16px;
    text-align: left;
    width: 210px;
    display: block;
}